<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccentColor</key>
	<string>#F5A623</string>
	<key>AppProviderName</key>
	<string>MapsPeople</string>
	<key>AppProviderUrl</key>
	<string>https://mapspeople.com</string>
	<key>AppSupplierName</key>
	<string>MapsPeople A/S</string>
	<key>AppSupplierUrl</key>
	<string>https://mapspeople.com</string>
	<key>DarkPrimaryColor</key>
	<string>#3A9434</string>
	<key>GoogleAPIKey</key>
	<string></string>
	<key>Language</key>
	<string>en</string>
	<key>LaunchScreenColor</key>
	<string>#FFFFFF</string>
	<key>LightPrimaryColor</key>
	<string>#80E27E</string>
	<key>MapsIndoorsAPIKey</key>
	<string>57e4e4992e74800ef8b69718</string>
	<key>PrimaryColor</key>
	<string>#49A842</string>
</dict>
</plist>
