name: Publish MapsIndoors Framework

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Publish binaries
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        filename: MapsIndoors.xcframework.zip
        path: MapsIndoors.xcframework
    - name: Upload binary to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: MapsIndoors.xcframework.zip
        asset_name: MapsIndoors.xcframework
        tag: ${{ github.ref }}
        overwrite: true
