name: Publish MapsIndoors Framework

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Publish binaries
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: apt-get install zip
      run: zip -r MapsIndoors.xcframework.zip MapsIndoors.xcframework
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: MapsIndoors.xcframework.zip
        asset_name: MapsIndoors.xcframework
        tag: ${{ github.ref }}
        overwrite: true
